# Kopiere diese Datei zu ".env" und trage deine echten Keys ein.
# ".env" ist in .gitignore und wird NIEMALS committet.

ALPACA_KEY_ID=
ALPACA_SECRET_KEY=

ALPACA_LIVE_KEY_ID=
ALPACA_LIVE_SECRET_KEY=
